header {
  background-color: $header-bg-color;
  width: 100%;
  position: fixed;
  z-index: 5;
  .header {
    @include flexbox();
    height: 0px;
    h4 {
      font-family: "Plus Jakarta Sans", sans-serif;
      color: $text-white;
    }
    nav {
      ul {
        @include flexbox();
        gap: 32px;
        li {
          a {
            color: $text-white;
            font-family: "Plus Jakarta Sans";
            text-decoration: none
          }
        }
      }
    }
    .btn-header {
      .btn-signup {
        @extend %primary-button;
        border: none;
        a {
          color: $header-bg-color;
          text-decoration: none;
        }
      }
      .btn-login {
        @extend %secondory-button;
        a {
          color: $text-white;
          text-decoration: none;
        }
      }
    }

    .fa-solid {
      display: none;
    }
  }
  @media only screen and (max-width: 777px) {
    .header {
      nav {
        display: none;
      }
      .fa-solid {
        display: block;
        color: $text-white;
      }
      .btn-header {
        display: none;
      }
    }
  }
}
