#sec2 {
  height: 170vh;
  .team-section {
    h2 {
      font-family: "Plus Jakarta Sans";
      text-align: center;
      font-weight: 700;
      color: #072125;
    }
    .team-text {
      font-family: "Plus Jakarta Sans";
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      color: #072125;
      margin-top: 16px;
    }
    
     .row {
      margin-top: 64px;
      h4 {
        font-family: "Plus Jakarta Sans";
        color: #072125;
        margin-left: 36px;
        margin-top: 16px;
        margin: 0;
        margin: 10px;
      }
      p {
        font-family: 'Plus Jakarta Sans';
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: $header-bg-color;
        margin: 0;
        margin: 10px;
      }
     .icons {
      display: flex;
      column-gap: 40px;
      margin: 20px;
      color: #072125;
      font-size: 24px;
     }
     
     
     }
  }
}
