h4 {
  font-size: 24px;
  font-weight: 700;
}
li {
  a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 32px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}
p {
    font-size: 64px;
}