header {
    background-image: url(./images/5c9f25cb-379f-4b2f-8e44-460606796e2a.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    nav {
        height: 10vh;
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 20px;
        }
        li {
            a {
                color: white;
                position: relative;
                &:hover::after {
                    content: "";
                    border: 1px solid brown;
                    display: block;
                    width: 22px;
                    position: absolute;
                    margin-top: 1px;
                }
            }
        }
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 240px;
    }
    .for-info {
        text-align: justify;
       display: flex;
       flex-direction: column;
       row-gap: 20px;
       height: 100%;
        p {
            text-decoration: line-through 1px;
            color: rgb(105, 92, 71);
            font-weight: 400;
            font-size: 20px;
            }
        h1 {
            color: white;
            font-weight: 300;
            font-size: 70px;
            } 
            .btn-explore {
              display: block;
              background-color: rgb(105, 92, 71);
              width: 100px;
              padding: 13px 100px;
              color: white;
              font-weight: lighter;
              padding-left: 45px;
              transition: 0.5s;
              &:hover {
                background-color: rgb(167, 159, 144);
              }
                 }   
        }
        .for-img {
                transform: translate(-12% , 38%);
                transition: 1.2s;
                transition-timing-function: ease-in-out;
            &:hover {
                transform: translate(-12% , 70% );
            }
        }
     }
 